<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goong.geocoder.places">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.autocomplete.AutocompleteActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@style/AutocompleteTheme"
            android:windowSoftInputMode="stateVisible|adjustPan" />
    </application>
</manifest>